# Default ignored files
/shelf/
/.idea/workspace.xml


# IntelliJ IDEA 프로젝트 파일
.idea/
*.iml
*.iws
*.ipr

# Java 빌드 아티팩트
*.jar
*.war
*.ear

# Maven, Gradle, 기타 빌드 도구의 빌드 결과물
target/
build/

# 로그 파일
*.log

# 운영체제별 파일
.DS_Store         # macOS에서 생성되는 시스템 파일
Thumbs.db         # Windows에서 생성되는 시스템 파일

# 환경 설정 파일
.env              # 환경 변수 파일

# Spring Boot 관련 빌드 파일
*.pid
*.jar.original
*.properties
*.yml

# 테스트 보고서
/test-output/

# Gradle Wrapper 파일
.gradle/
!gradle/wrapper/gradle-wrapper.jar

