<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CINE Q 회원가입</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #main-content {
            flex: 1; /* 남은 공간을 차지 */
        }
    </style>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        const onJoin = () => {
            const memberId = document.getElementById("memberId").value;
            const password = document.getElementById("password").value;
            const username = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const tel = document.getElementById("tel").value;
            const role = "CUSTOMER"; // 기본 역할 설정

            const memberData = {
                memberId: memberId,
                password: password,
                username: username,
                role: role,
                email: email,
                tel: tel
            };

            fetch('http://localhost:8089/api/members/join', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(memberData),
            })
            .then(response => {
                if (response.status === 201) {
                    alert("회원가입 성공.");
                    window.location.href = '/'; // 가입 성공 후 메인 페이지로 이동
                } else {
                    alert("회원가입에 실패했습니다.");
                }
            })
            .catch(error => {
                console.error(error);
                alert("회원가입 중 오류가 발생했습니다.");
            });
        };
    </script>
</head>



<body>
<!-- Include Header -->
<div th:insert="~{fragments/header}"></div>
<div id="main-content" class="container">
<form action="/" method="post">
    <div class="mb-3">
        <label for="memberId" class="form-label">아이디</label>
        <input type="text" class="form-control" id="memberId" placeholder="아이디를 입력해주세요">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">이름</label>
        <input type="text" class="form-control" id="username" placeholder="이름을 입력해주세요">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" placeholder="이메일을 입력해주세요">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">전화번호</label>
        <input type="text" class="form-control" id="tel" placeholder="전화번호를 입력해주세요">
    </div>
    <button type="button" class="btn btn-primary w-100 mb-2" onclick="onJoin()">회원가입</button>
</form>
</div>
<!-- Include Footer -->
<div th:insert="~{fragments/footer}"></div>


</body>
</html>
