<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <title th:text="${title}">영화예매 프로젝트</title>
    <meta charset="UTF-8">
    <meta name="description" content="Movie Reserve Project"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>
</head>

<body>
    <div th:fragment="header">
        <header class="bg-dark text-white p-3">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#" th:href="@{/}">
                    <img th:src="/images/logo.png" alt="Movie Logo" style="height:40px; filter: brightness(0) invert(1);">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="movieDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">영화</a>
                            <div class="dropdown-menu" aria-labelledby="movieDropdown">
                                <a class="dropdown-item" th:href="@{#}">박스오피스</a>
                                <a class="dropdown-item" th:href="@{#}">최신개봉작</a>
                                <a class="dropdown-item" th:href="@{#}">상영예정작</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="movieDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">극장</a>
                            <div class="dropdown-menu" aria-labelledby="movieDropdown">
                                <a class="dropdown-item" th:href="@{#}">서울</a>
                                <a class="dropdown-item" th:href="@{#}">경기도</a>
                                <a class="dropdown-item" th:href="@{#}">충청도</a>
                                <a class="dropdown-item" th:href="@{#}">전라도</a>
                                <a class="dropdown-item" th:href="@{#}">경상도</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="movieDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">이벤트</a>
                            <div class="dropdown-menu" aria-labelledby="movieDropdown">
                                <a class="dropdown-item" th:href="@{#}">전체이벤트</a>
                                <a class="dropdown-item" th:href="@{#}">영화관이벤트</a>
                                <a class="dropdown-item" th:href="@{#}">영화이벤트</a>
                                <a class="dropdown-item" th:href="@{#}">당첨자발표</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{#}" id="movieDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">멤버쉽</a>
                            <div class="dropdown-menu" aria-labelledby="movieDropdown">
                                <a class="dropdown-item" th:href="@{#}">할인제휴카드</a>
                                <a class="dropdown-item" th:href="@{#}">할인신용카드</a>
                                <a class="dropdown-item" th:href="@{#}">할인포인트카드</a>
                                <a class="dropdown-item" th:href="@{#}">관람권/상품권</a>
                            </div>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        <a class="nav-link btn btn-primary text-white" th:href="@{/reserve}">간편예매</a>
                        <span class="text-white mx-3">|</span>
                        <a class="nav-link" th:href="@{#}">로그인</a>
                        <span class="text-white mx-3">|</span>
                        <a class="nav-link" th:href="@{#}">회원가입</a>
                    </div>
                </div>
            </nav>
        </header>
    </div>

</body>
</html>